/*photos*/
.conteneur{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 10px;
}
.box img{
    width: 100%;
    max-height: 550px;
}
.box{
    width: 100%;
    overflow: hidden;
}