/* page salon */
.salon{
  text-align: center;
  line-height: 1em;
  padding: 1em;
}
#salon{
  background-image:url('../images/photos/coupe-miroir.jpg');
  background-size: cover;
  width:100%;
  /*min-height:800px; */
  background-repeat: no-repeat;
}
#padding_texte{
  padding-bottom: 2em;
}
.bloc_salon{
  padding: 0 2em;
  text-align: center;
}
.margin_bottom{
  margin-bottom:2.5em;
  font-style: italic;
}
@media screen and (max-width: 760px){
  .bloc_salon{
    padding: 0 1em;
  }
}

.bloc_services{
  padding: 0 2em;
  text-align: center;
}
@media screen and (max-width: 760px){
  .bloc_services{
    padding: 0 1em;
  }
}

.piou{
  margin: 0 auto;
  max-width: 60ch;
}
.piou li{
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.bloc_reviews{
  text-align: center;
}
@media screen and (max-width: 760px){
  .bloc_reviews{
    padding: 0 1em;
  }
}


@media screen and (min-width: 760px){
  .gd_pt{
    grid-template-columns: 3fr 2fr;
  }
  .pt_gd{
    grid-template-columns: 2fr 3fr;
  }
}

.double_volet{
  display: grid;
  gap: 1em;
  margin: 1em auto;
}

img{
  max-height:auto;
  /* width: 550px; */
} /* certainly not all image must have 550px of width :) */




.centrage{
  margin: 0 auto;
  max-width: 40ch;
}
ul{
  list-style: none;
  padding:0px;
  margin:0px;
}
ul li{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gauche{
  text-align: left;
}
.droite{
  text-align: right;
}
@media screen and (max-width: 760px){
  .centrage{
    padding: 0 1em;
  }
  .centrage address{
    text-align: center;
  }
}
@media screen and (max-width: 760px){
  #map{
    height: 400px;
  }
}



/*slider*/

#photos{
  position: relative;
  width:100%;
  max-width: 800px;
  /* hack pour conserver le ratio */
  height: 0px;
  padding-bottom:45%;
  /* fin du hack */
  overflow: hidden; /*pour ne pas voir ce qui dépasse de la zone prédéfinie, ici 360px par photos*/
  margin: 20px auto;
}


.picture{
  width: 100%;
  max-width: 800px;
}

#slideshow li{
  display: inline;
}
#slideshow{
  position: absolute;
  top: 0;  /*pour aligner en haut à gauche dans mon exercice*/
  left: 0;
  width: 4800px;   /*6photos de 800px -- 6x800px=4800px*/
  margin: 0;
  padding: 0;
  animation-name: slider;
  animation-duration: 30s;
  animation-iteration-count: infinite; /*jamais de temps d'arrêt*/
  animation-timing-function: linear;
}
@keyframes slider {
  0%  {left: 0px;}
  10% {left: 0px;}    /* pour qu'il fasse un temps d'arrêt*/
  20% {left: -800px;}
  30% {left: -800px;}     /* pour qu'il fasse un temps d'arrêt*/
  40% {left: -1600px;}
  50% {left: -1600px;}    /* pour qu'il fasse un temps d'arrêt*/
  60% {left: -2400px;}
  70% {left: -2400px;}    /* pour qu'il fasse un temps d'arrêt*/
  80% {left: -3200px;}
  90% {left: -3200px;}
  100% {left: -4000px;}
}