@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&family=Kalam:wght@300;400&family=Kumbh+Sans:wght@200&family=Noto+Sans+Symbols:wght@100;200&display=swap');
*{
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
}
html{
    min-height: 100%;
    display: flex;
    font-family: 'poppins', sans-serif;
    color: rgb(43, 42, 42);
    scroll-behavior: smooth;
}
body{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.interbloc{
    height: 2em;
}
/* header */
header{
    padding: 1em;
    text-align: center;
    font-size: large;
}
header section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.espacement span{
    padding: 1em;
    width: 1.5%;
}
.rdv{
    color: #2e2e2e59;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 0.8em;
    padding: 1em 1.5em;
    /*border: 2px solid #2e2e2e59;*/
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
}
.rdv:hover{
    opacity: 0.5;
    background-color: hsl(22, 97%, 59%);
    color: white;
}
.rdv:hover a{
    color: white;
}
.rdv a{
    text-decoration: none;
    color: #0c0c0cc5;
}
#lampes{
    width: 200px;
}
hr{
    width: 85%;
    color: #2e2e2e59;
}
/*nav barre*/
nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.5em;
    margin: 0 3em;
    top: 0;
    position:sticky;

    font-size: large;
    font-weight: bold;
    background-color: white;  
    z-index: 10;
}
nav a{
    text-decoration: none;
    color: #0c0c0cc5;
    padding: 0.5em 1em;
    transition: background 0.3s ease-in-out;
    border-radius: 10px;
}
nav a:hover{
    background-color: hsl(22, 97%, 59%);
    color: white;
    border: 2px solid #2e2e2e59;
}

/*main général*/
main{
    padding:1em;
    padding: top 0.5rem;
    flex-grow: 1; 
    margin: 2em;
}
h1{
    text-align: center;
    font-size: 3em;
}
h2{
    /*text-align: center;-*/
    color: rgb(43, 42, 42);
}
/*footer*/
footer{
    position: relative;
    bottom: 0;
    padding: 1em;
    font-size: large;
    width: 100%;
}
footer section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#btt{
    color: #0c0c0cc5;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    border: 2px solid #2e2e2e59;
    font-size: 0.8em;
    padding: 1em 1.5em;
    transition: background 0.3s ease-in-out;
    border-radius: 25px;
    display: none;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; 
    right: 30px; 
    z-index: 99;
    outline: none; 
    cursor: pointer;
}

#btt:hover {
    background-color: hsl(22, 97%, 59%);
    color: white;
}